@model MIS.Models.ViewModels.StoreInventoryViewModel

@{
    ViewBag.Title = "Stock Request";
}

<h2>Stock Request</h2>

<form method="get">
    <p>
        Product Name: <input name="productName" value="@ViewBag.ProductName" />
        <input type="submit" value="Filter" class="btn btn-default" />
        <a asp-action="Index">
            <input type="button" value="Show All" class="btn btn-default" />
        </a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Stock Request ID
            </th>
            <th>
                Store Name
            </th>
            <th>
                Product Name
            </th>
            <th>
                Quantity
            </th>
            <th>
                Current Stock
            </th>
        </tr>
    </thead>
    <tbody class="srt">
        @foreach (var item in Model.StockRequests)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StockRequestID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Store.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                    @{
                        foreach (var product in Model.OwnerInventories)
                        {
                            if (product.ProductID.Equals(item.ProductID))
                            {
                                <td>
                                    @product.StockLevel.ToString()
                                </td>
                            }
                        }
                    }
                <td>
                    <a asp-action="ApproveRequest" asp-route-id="@item.StockRequestID">Approve </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Index"><input type="button" value="BACK" class="btn btn-default" /> </a>
</p>

@*<script>
    var quantity = $(".srt:nth-child(3)");
    var currentStock = $(".srt:nth-child(4)");
    if (currentStock >= quantity) {
        $(".srt").append("<a  asp-action='ApproveRequest'>Approve </a>");
    }   
</script>*@
