@using MIS.Models.ViewModels
@model MIS.Models.ViewModels.ShoppingCartViewModel

@{
    ViewBag.Title = "Shopping Cart";
}

<div class="row">
    <h2>Your shopping cart</h2>
    <h4>Here are the products in your shopping cart.</h4>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="text-center">Store Name</th>
                <th class="text-center">Product Name</th>
                <th class="text-center">Price</th>
                <th class="text-center">Selected amount</th>
                <th class="text-center">Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
            {
                <tr>
                    <td class="text-center">@line.StoreInventory.Store.Name</td>
                    <td class="text-center">@line.StoreInventory.Product.Name</td>
                    <td class="text-center">@line.StoreInventory.Product.Value.ToString("c")</td>
                    <td class="text-center">@line.Amount</td>
                    <td class="text-center">
                        @((line.Amount * line.StoreInventory.Product.Value).ToString("c"))
                    </td>
                    <td class="text-center">
                        <a class="glyphicon glyphicon-plus text-success" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-storeId="@line.StoreInventory.StoreID" 
                           asp-route-productId="@line.StoreInventory.ProductID" asp-route-quantity="1" asp-route-amount="@line.Amount"></a>
                        <a class="glyphicon glyphicon-minus text-warning" asp-controller="ShoppingCart" asp-action="MinusFromShoppingCart" asp-route-storeId="@line.StoreInventory.StoreID" asp-route-productId="@line.StoreInventory.ProductID"></a>
                        <a class="glyphicon glyphicon-remove text-danger" asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart" asp-route-storeId="@line.StoreInventory.StoreID" asp-route-productId="@line.StoreInventory.ProductID"></a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="text-right">Total:</td>
                <td class="text-center">
                    @Model.ShoppingCartTotal.ToString("c")
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="text-right">
        <div class="btn-group ">
            <a class="btn btn-success" asp-controller="ShoppingCart" asp-action="Orders">Check out</a>
        </div>
    </div>

</div>

<a asp-controller="Customer" asp-action="Index">
    <input type="button" class="btn btn-default" value="Back To Shop Selection" />
</a>